* {
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  overflow-x: hidden;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-image: url(bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

nav {
  background-color: white;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
}

nav ul {
  width: 100%;
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

nav li {
  height: 60px;
}
nav a {
  height: 100%;
  padding: 0 30px;
  text-decoration: none;
  display: flex;
  align-items: center;
  color: black;
  transition: all 0.5s ease;
}

nav a:hover {
  background-color: #f0f0f0;
}

nav li:first-child {
  margin-right: auto;
  font-weight: 600;
}

.sidebar {
  position: fixed;
  top: 0;
  right: -450px;
  height: 100vh;
  width: 250px;
  z-index: 999;
  background-color: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  transition: all .5s ease-out;
}
.sidebar li,
.sidebar a {
  width: 100%;
}

.horizontalbar li:last-child {
  display: none;
}

/* Hide elements on mobile devices  */
@media (max-width: 800px) {
  .horizontalbar li:not(:first-child, :last-child) {
    display: none;
  }
  .horizontalbar li:last-child {
    display: block;
  }
}
@media (max-width: 400px) {
    .sidebar {
        width: 100%;
    }
}
