* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  @property --gradient-angle{
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
  }
  :root{
    --clr-1 : #052b2f;
    --clr-2 : #e3e9ea;
    --clr-3 : #2a31fc;
    --clr-4 : #5be6db;
    --clr-5 : #f628f3;
  }

  .container {
    height: 100vh;
    width: 100vw;
    background: var(--clr-2);
    display: grid;
    place-items: center;
  }
  .card {
    height: 300px;
    aspect-ratio: 1/1.5;
    color: rgb(255, 255, 255);
    background: var(--clr-1);
    position: relative;
    isolation: isolate;
    border-radius: 10px;
  }
  
  .card::before, 
  .card::after {
    content: "";
    position: absolute;
    inset: 0rem;
    z-index: -1;
    border-radius: inherit;
    background: conic-gradient(
             from var(--gradient-angle),
                  var(--clr-3),
                  var(--clr-4),
                  var(--clr-5),
                  var(--clr-4),
                  var(--clr-3)
                 );  
    animation: rotation 15s linear infinite;
  }
  @keyframes rotation {
    0%{ --gradient-angle : 0deg;}
    100%{ --gradient-angle : 360deg;}
    
  }
  .card::after{
    filter : blur(1em);
  }
  .card h1 {
    font-size: 2rem;
    font-weight: 800;
    margin: 1.3rem;
  }
  
  .card p {
    margin: 1.3rem;
  }
  