*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: grid;
  place-content: center;
  font-family: sans-serif;
}

.container {
  width: 150px;
  min-height: 80px;
  border-radius: 20px;
  border : 1px solid red;
  overflow: hidden;
  cursor: pointer;
  position: relative;
}
.container .circle {
  height: 100%;
  width: 100%;
  -webkit-clip-path: circle(0% at 100% -10%);
  clip-path: circle(0% at 100% -10%);
  background-color: rgba(90, 254, 249, 0.6);
  position: absolute;
  right: 0;
  transition: all 0.3s ease-in-out;
}
.container .card span {
  float: right;
  font-weight: 600;
}
.container:hover .circle {
  -webkit-clip-path: circle(100%);
  clip-path: circle(100%);
  background-color: rgba(49, 234, 237, 0.9);
}
.container .card p {
  font-size: 18px;
  padding: 25px;
}
